@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html {
  height: 100%;
}

.click-through {
  pointer-events: none;
}

.click-able {
  pointer-events: auto;
}

.board-grid {
  position: relative;
}
.cell {
  &._selectable {
    background-color: transparentize($color: green, $amount: 0.6);
  }
}
.tank-grid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.flex {
  display: flex;
}

.flex-colomn {
  flex-direction: column
}

.twenty {
  flex-basis: 20%;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.pad-top {
  padding-top: 25px;
}

.play-area {
  justify-content: space-between;
}

table {
    border-collapse: collapse;
    background-image: url("/images/dirt.jpg");
}
td {
  width: 50px;
  height: 50px;
  
  border: 1px solid black;
}

.tank {
  font-weight: 900;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 20%;
  font-size: 18px;
  border: 1px solid black;
  margin: auto;
  margin-top: 6px;
}

.tank-image {
  width: 48px;
  height: 48px;
  &.p1 {
    transform: rotate(270deg);
  }
  &.p2 {
    transform: rotate(90deg);
  }
}

.tank-unit {
  text-align: center;
  position: absolute;
  width: 53px;
  height: 53px;
  margin: 2px;
  transition: transform 1s;
  
  &._selected {
    background-color: red;
  }
  .strength-display {
    margin-left: -80%;
    position: absolute;
    &.p1 {
      color: red;
    }
    &.p2 {
      color: blue;
      margin-top: 55%;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  td {
    width: 30px;
    height: 30px;
  }
  
  .tank-image {
    width: 28px;
    height: 28px;
  }
  
  .tank-unit {
    width: 33px;
    height: 33px;
  }
  .player-card {
    display: none;
  }
  .play-area {
    justify-content: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  td {
    width: 35px;
    height: 35px;
  }
  
  .tank-image {
    width: 33px;
    height: 33px;
  }
  
  .tank-unit {
    width: 38px;
    height: 38px;
  }
  .player-card {
    display: none;
  }
  .play-area {
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  td {
    width: 50px;
    height: 50px;
  }
  
  .tank-image {
    width: 48px;
    height: 48px;
  }
  
  .tank-unit {
    width: 53px;
    height: 53px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  td {
    width: 50px;
    height: 50px;
  }
  
  .tank-image {
    width: 48px;
    height: 48px;
  }
  
  .tank-unit {
    width: 53px;
    height: 53px;
  }
  .player-card {
    display: unset;
  }
  .play-area {
    justify-content: space-between;
  }
}
