<div class='flex-colomn text-center twenty'>
  {{#if @player}}
    <div>
      {{@player.name}}
    </div>
    <div>
      <div>
        {{@unitName}}s
      </div>
      <div>
        {{#each @player.units as |unit|}}
          <div class='tank'>{{unit.strength}}</div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>